<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Проект Angular</span></a>
    </div>

    <div class="clearfix"></div>

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li ui-sref-active="active"><a ui-sref="contacts"><i class="fa fa-home"></i> Контакты </a>
          </li>
          <li ui-sref-active="active"><a ui-sref="mail"><i class="fa fa-edit"></i> Почта </a>
          	<ul class="nav child_menu" style="display: block;">
	            <li ui-sref-active="active"><a ui-sref="inbox">Входящие</a></li>
	            <li ui-sref-active="active"><a ui-sref="outbox">Исходящие</a></li>
	          </ul>
          </li>
        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>