<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>Login Form</h1>
          <div>
            <input type="text" class="form-control" placeholder="Username" ng-model="$ctrl.credential.username" >
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" ng-model="$ctrl.credential.password"  required="">
          </div>
          <div>
            <a class="btn btn-default submit" ng-click="$ctrl.logIn($ctrl.credential)">Log in</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">

          </div>
        </form>
      </section>
    </div>

  </div>
</div>