<div class="well profile_view">
  <div class="col-sm-12">
    <h4 class="brief"><i>{{$ctrl.contact.race}}</i></h4>
    <div class="left col-xs-7">
      <h2>{{$ctrl.contact.firstName}} {{$ctrl.contact.lastName}}</h2>
      <p><strong>About: </strong> {{$ctrl.contact.profession}} </p>
      <ul class="list-unstyled">
        <li><i class="fa fa-building"></i> Address: {{$ctrl.contact.address}} </li>
      </ul>
    </div>
    <div class="right col-xs-5 text-center">
      <img ng-src="images/avatars/{{$ctrl.contact.firstName}}.jpg" alt="" class="img-circle img-responsive">
    </div>
  </div>
  <div class="col-xs-12 bottom text-center">
    <div class="col-xs-12 col-sm-6 emphasis">
      <p class="ratings">
        <a  ng-repeat="a in $ctrl.getNumber($ctrl.contact.rating) track by $index"><span class="fa fa-bookmark">&nbsp;</span></a><a ng-repeat="a in $ctrl.getNumber(6-$ctrl.contact.rating) track by $index"><span class="fa fa-bookmark-o"></span>&nbsp;</a>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 emphasis">
      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
        </i> <i class="fa fa-comments-o"></i> </button>
      <button type="button" class="btn btn-primary btn-xs" ui-sref="profile({pid:$ctrl.contact.firstName})">
        <i class="fa fa-user"> </i> View Profile
      </button>
    </div>
  </div>
</div>