<div class="x_content">
  <div class="row">
    <div class="col-sm-3 mail_list_column">
      <button id="compose" class="btn btn-sm btn-success btn-block" type="button">COMPOSE</button>
      <a ng-repeat="mail in $ctrl.emails" ui-sref="inbox({eid:mail.key})" >
        <div class="mail_list">
          <div class="left">{{mail.key}}
            <!-- <i class="fa fa-circle"></i> <i class="fa fa-edit"></i> -->
          </div>
          <div class="right">
            <h3>{{mail.name}} <small>{{$ctrl.shortDate(mail.date)}}</small></h3>
            <p>{{mail.subject}}</p>
          </div>
        </div>
      </a>
    </div>
    <!-- /MAIL LIST -->
    <div ng-show="$ctrl.content">
      <div ng-if="$ctrl.content == 'loading'">Загрузка</div>
      <div ng-if="$ctrl.content != 'loading'">
        <mail-content  content="$ctrl.content"></mail-content>
      </div>
      
    </div>
  </div>
</div>